.card-wrapper {
  display: flex;
  flex-direction: column;
  background-color: rgb(128, 128, 128);
  border-radius: 8px !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 8px 0px !important;
  color: inherit;
  position: relative;
  overflow: hidden;

  .button-secondary {
    align-items: center;
    border: 2px solid rgb(0, 15, 245);
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    font-size: 18px;
    font-weight: bold;
    justify-content: center;
    line-height: 24px;
    outline: none;
    padding: 8px 16px;
    position: relative;
    text-align: center;
    transition: 200ms ease-out;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 15, 245);
    flex: 1 1 0%;
  }

  .button-primary {
    align-items: center;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    font-size: 18px;
    font-weight: bold;
    justify-content: center;
    line-height: 24px;
    outline: none;
    padding: 8px 16px;
    position: relative;
    text-align: center;
    transition: 200ms ease-out;
    background-color: rgb(0, 15, 245);
    color: rgb(255, 255, 255);
    background-image: linear-gradient(
      -1deg,
      transparent 49%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(225, 225, 225, 0)
    );
    flex: 1 1 0%;
  }
}
