  button.see-all-deals-btn {
    align-items: center;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    font-size: 18px;
    font-family: "Sky Text";
    font-weight: bold;
    justify-content: center;
    line-height: 24px;
    outline: none;
    padding: 8px 16px;
    position: relative;
    text-align: center;
    transition: 200ms ease-out;
    background-color: rgb(0, 15, 245);
    color: rgb(255, 255, 255);
    background-image: linear-gradient(
      -1deg,
      transparent 49%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(225, 225, 225, 0)
    );
    flex: 1 1 0%;

    span {
      font-size: 1.125rem;
      line-height: 1.75rem;
      color: rgb(255, 255, 255);
    }
  }

