.MuiDialog-paper {
  border-radius: 10px;
  padding: 0;
}

.MuiAccordion-root {
  background: white;
  border-radius: 6px;
}

/* tighten dialog title spacing */
.MuiDialogTitle-root {
  padding-bottom: 0;
}
